version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    groups:
      all:
        patterns:
        - "*"

  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: weekly
    groups:
      all:
        patterns:
        - "*"