# Project Information
site_name: 'rio-tiler'
site_description: 'User friendly Rasterio plugin to read raster datasets.'

docs_dir: 'src'
site_dir: 'build'

# Repository
repo_name: 'cogeotiff/rio-tiler'
repo_url: 'https://github.com/cogeotiff/rio-tiler'
edit_uri: 'blob/main/docs/src/'
site_url: 'https://cogeotiff.github.io/rio-tiler/'

# Social links
extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/cogeotiff'
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/cogeotiff'
    - icon: 'fontawesome/solid/globe'
      link: 'https://www.cogeo.org/'

# Layout
nav:
  - Home: 'index.md'
  - User Guide:
    - Introduction: 'intro.md'
    - Readers: 'readers.md'
    - Models: 'models.md'
    - Mosaic: 'mosaic.md'
    - Colormaps: 'colormap.md'
    - Supported file formats: 'supported_format.md'
  - Advanced Topics:
    - Base classes and custom readers: 'advanced/custom_readers.md'
    - Read Polygon-shaped regions: 'advanced/feature.md'
    - Zonal statistics: 'advanced/zonal_stats.md'
    - Create a Dynamic Tiler: 'advanced/dynamic_tiler.md'
    - TileMatrixSet: 'advanced/tms.md'
  - Examples:
    - Introduction: 'examples/Using-rio-tiler.ipynb'
    - Mosaic: 'examples/Using-rio-tiler-mosaic.ipynb'
    - rio-tiler + morecantile: 'examples/Using-tms.ipynb'
    - rio-tiler + STAC: 'examples/Using-rio-tiler-STACReader.ipynb'
    - Non-Earth dataset: 'examples/Using-nonEarth-dataset.ipynb'
    - Xarray + rio-tiler: 'examples/Using-rio-tiler-XarrayReader.ipynb'
  - API:
    - rio_tiler.colormap: api/rio_tiler/colormap.md
    - rio_tiler.constants: api/rio_tiler/constants.md
    - rio_tiler.errors: api/rio_tiler/errors.md
    - rio_tiler.expression: api/rio_tiler/expression.md
    - rio_tiler.models: api/rio_tiler/models.md
    - rio_tiler.io:
      - rio_tiler.io.base: api/rio_tiler/io/base.md
      - rio_tiler.io.rasterio: api/rio_tiler/io/rasterio.md
      - rio_tiler.io.stac: api/rio_tiler/io/stac.md
      - rio_tiler.io.xarray: api/rio_tiler/io/xarray.md
    - rio_tiler.mosaic:
      - rio_tiler.mosaic.reader: api/rio_tiler/mosaic/reader.md
      - rio_tiler.mosaic.methods:
        - rio_tiler.mosaic.methods.base: api/rio_tiler/mosaic/methods/base.md
        - rio_tiler.mosaic.methods.defaults: api/rio_tiler/mosaic/methods/defaults.md
    - rio_tiler.profiles: api/rio_tiler/profiles.md
    - rio_tiler.reader: api/rio_tiler/reader.md
    - rio_tiler.tasks: api/rio_tiler/tasks.md
    - rio_tiler.utils: api/rio_tiler/utils.md
  - Migration from v1.0 to v2.0: 'v2_migration.md'
  - Migration from v2.0 to v3.0: 'v3_migration.md'
  - Migration from v3.0 to v4.0: 'v4_migration.md'
  - Migration from v4.0 to v5.0: 'v5_migration.md'
  - Development - Contributing: 'contributing.md'
  - Release Notes: 'release-notes.md'

plugins:
  - search
  - mkdocs-jupyter:
      include_source: True

# Theme
theme:
  icon:
    logo: 'material/home'
    repo: 'fontawesome/brands/github'
  name: 'material'
  language: 'en'
  palette:
    primary: 'blue'
    accent:  'light blue'
  font:
    text: 'Nunito Sans'
    code: 'Fira Code'
  custom_dir: 'src/overrides'

# These extensions are chosen to be a superset of Pandoc's Markdown.
# This way, I can write in Pandoc's Markdown and have it be supported here.
# https://pandoc.org/MANUAL.html
markdown_extensions:
    - admonition
    - attr_list
    - codehilite:
        guess_lang: false
    - def_list
    - footnotes
    - pymdownx.arithmatex
    - pymdownx.betterem
    - pymdownx.caret:
        insert: false
    - pymdownx.details
    - pymdownx.emoji
    - pymdownx.escapeall:
        hardbreak: true
        nbsp: true
    - pymdownx.magiclink:
        hide_protocol: true
        repo_url_shortener: true
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde
    - toc:
        permalink: true
